* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(229, 225, 225);

}

/* Navbar */
nav {
    display: flex;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
    color: black;
    background-color: white;
}
.logo{
    display: flex;
    overflow-y: hidden;
    background-color: white;
    padding: 5px;
    margin-right:50px ;
}
.first {
overflow-y: hidden;
    background-color: rgb(242, 239, 239)71px;
    border: none;
    height: 35px;
    width: 503px;
    margin: 10px;
}
.first input {

    background-color: rgb(242, 239, 239);
    border: none;
    height: 35px;
    width: 500px;
}

.second {
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
/* Types section */
.type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px 10px;
    justify-content: space-evenly;
    background-color: white;
    width: 98%;
    align-items: center;
}

.inner {
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 105px;
    overflow-y: hidden;
    padding: 1px;
    margin: 15px;
}


.img {
    height: 80px;
    background-color: white;
    align-items: center;
}

p {
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
}

/* Adverisment section */
.adv {
    width: 98%;
    margin-top: -60px;
}

.adv-img {
    width: 100%;
    margin-left: 10px;
    margin-right: 20px;
    
}
/* Top offer panel */

.Top{
    display: flex;
    overflow-y: hidden;
    width: auto;
    margin: 11px 10px;
    border-radius: 4px;
}

.top-offers {
    width: 100%;
    overflow-y: hidden;
    background-color: white;
    justify-content: start;
    text-align: center;
    border-radius: 10px;
}

.top-offers h2{
    display: block;
    color: black;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    text-align: start;
}
.offers{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    overflow-y: hidden;
    margin-left: 5px;
    /* height: 200px; */
    width: 100%;
    /* border-radius: 8px; */
    /* background-color: blue; */
}
.offer-item{
    overflow-y: hidden;
    background-color: white;
   width: 200px;
}


.offer-item img{
    height: 200px; margin: 5px;
    /* background-color: blue; */
}

.offer-item p {
    margin-top: 6px;
    background-color: white;
}

.offer-item p b{
    /* margin-top: 50px; */
    background-color: white;
}


.adoffer{
    width: 20%;
    border-radius: 10px;
    margin: 10px;
}

/* Top deals */


.top-deals {
    /* height: 350px; */
    width: auto;
    margin-left: 10px;
    background-color: white;
    overflow-y: hidden;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-evenly;
    text-align: center;
    padding: 18px;
    border-radius: 10px;
    /* color: white; */
}

.top-deals h2{
    display: block;
    width: 100%;
    background-color: white;
    text-align: start;
}

.deals{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: auto;
    overflow-y: hidden;
    margin-left: 5px;
    /* height: 200px; */
    width: 100%;
    /* border: 2px solid black; */
    border-radius: 8px;
}

/* .deals-item img{
    height: 230px ;
    width: 100%;
} */

.deals-item p b{
    margin-top: 20px;
    background-color: white;
}

.deals-item2 p b{
    margin-top: 50px;
    background-color: white; 
}


/* display */
.display1{
    /* height: 200px; */
    width: 98%;
    background-color: white;
    overflow-y: hidden;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: row; */
}
.display2, .display3{
    /* height: 200px; */
    width: 98%;
    background-color: white;
    overflow-y: hidden;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.suggestion{
    /* height: 600px; */
    width: 98%;
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    justify-content: space-evenly;
}

.suggestion1{
    /* height: 600px; */
    width: 98%;
    margin-top: 2px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    justify-content: space-evenly
}
.su1{
    /* height: 550px; */
    width: 31.5%;
    margin: 10px;
    background-color: white;
    display: block;
    overflow-y: hidden;
}

.su2{
    /* height: 550px; */
    width: 31.5%;
    margin: 10px;
    background-color: white;
    display: block;
    overflow-y: hidden;
}
.su3{
    /* height: 550px; */
    width: 31.5%;
    margin: 10px;
    background-color: white;
    display: block;
    overflow-y: hidden;
}

.su1 h2{
    background-color: white;
    margin: 20px;
}

.su2 h2{
    background-color: white;
    margin: 20px;
}
.su3 h2{
    background-color: white;
    margin: 20px;
}
.shh{
    display: flex;
    margin-top: 20px;
    /* height: 200px; */
    width: 108%;
    overflow-y: hidden;flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;


}

.shop{
    border: 1px solid lightgray ;
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.shop img{
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    width: 156px;

}

.shop b{
    color: green;
    background-color: white;
    margin: 10px;
    margin-left: 45px;

}
/* footer */

.footerSection {
    width: 100%;
    /* height: 300px; */
    background-color: #172337;
    display: flex;
    flex-wrap: wrap;

}
.footerLeft {
    display: flex;
    width: 100%;
    margin-left: 65px;
    background-color: #172337;
    justify-content: space-evenly;
}

.footerInfo {
    width: 252px;
    height: 300px;
    padding-top: 40px;
    background-color: #172337;
    overflow-y: hidden;
}
.footerInfoHeading {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    background-color: #172337;
    margin-bottom: 9px;
}
.footerContent {
    color: #ffffff;
    background-color: #172337;
    font-size: 12px;
    line-height: 2;
}
.footerRight {
    display: flex;
    width: 100%;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #172337;
    justify-content: space-evenly;
    
}
.footerContent p{

    background-color: #172337;
    color: white;
}
.footerExtras {
    margin-top: 0.35px;
    background-color: #172337;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1719px;
    height: 76px;
    color: #ffffff;
    font-size: 14px;
    line-height: 2;
    padding-left: 25px;
    padding-right: 10px;
    overflow-y: hidden;
}

@media screen and (max-width:425px){
    nav{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .logo{
        height: 60px;
        padding: 0%;
        justify-items: left;
        margin-right: 10px;
    }
    .first{
        width: auto;
        /* flex-direction: column; */
        /* height: auto; */
        text-align: left;
    }
    .second{
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: space-around;
        display: none;
    }

    .type{
       
        width: 98%;
        margin: auto;
        margin-top: 122px;
    }

    .adv{
        margin-top: 7px;
        /* margin: auto; */
    }

    .adv-img{
        height: 80px;
        width: auto;

    }

    .Top{
        margin-top: 5px;
    }
    .top-offers{
        margin-right: 10px;
    }
    .top-offers h2{
        font-size: 23px;
    }
    .offer-item{
        align-items: center;
        margin-left: 10px;
    }

    .adoffer{
        display: none;
    }
    .top-deals{
        margin-left: 10px;
        margin-right: 10px;
    }
    .top-deals h2{
        font-size: 23px;
    }
    .deals-item{
        align-items: center;
        margin-left: 50px;
    }

    .deals-item2{
        align-items: center;
        margin-left: 28px;
    }

    
    
    .display1 img{
        /* height: auto; */
        flex-direction: column;
        flex-wrap: wrap;
        height: 150px;
        width: 400px;
        /* margin-top: 5px; */
    }

    .display2 img{
        flex-direction: column;
        /* flex-wrap: wrap; */
        height: 150px;
        width: 400px;
    }
    .display3 img{
        flex-direction: column;
        /* flex-wrap: wrap; */
        height: 150px;
        width: 400px;
    }
    .dis{
        margin-top: 5px;
    }

    .suggestion{
        margin-top: -10px;
    }

    .suggestion1{
        margin-top: -10px;
    }
    .su1{
        width: auto;
        margin-left: 0px;
    }

    .su2{
        width: auto;
        margin-left: 0px;
        margin-top: 1px;

    }
    .su3 {
        width: auto;
        margin-left: 0px;
        margin-top: 1px;
    }

    .shh{
        width: auto;
    }
    .shop{
        justify-content: center;
        margin-left: 55px;
        width: auto;
        height: 240px;
        overflow-y: hidden;
    }
}